<%- include("partials/header.ejs") -%>

<div style="padding: 2rem 20rem">
  <% blogs.forEach(function(blog){ %>
  <h1><%= blog.title %></h1>
  <p>
    <%= blog.body.substring(0,40) %>...
    <a href="/blogs/<%= blog.title %>">Read More</a>
  </p>
  <% }); %>
</div>
<%- include("partials/footer.ejs") -%>
